*{
	margin: 0px;
	padding: 0px;
}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
html{
    height: 100%;
    overflow: hidden;//overflow去掉滚动条
}

body{
    height: 100%;
}
#index {
    background: url(../mudule/image/home.jpg);
    background-size: 100% 100%;
    position: fixed;
    top:0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.btnYear {
    background: #000;
    opacity: 0.5;
    width: 3.7rem;
    height: 4.5rem;
	position: absolute;
}
.btnShow{
	width: 6.5rem;
    height: 2.4rem;
    position: absolute;
    background: #000;
    opacity: 0.5;
}
.btnPlus{
	width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    background: #000;
    opacity: 0.5;
}
#home1919{
	left: 4.3rem;
    bottom: 24rem;
}

#home1921{
	left: 1.6rem;
    bottom: 19rem;
}

#home2017{
	left: 13.3rem;
    bottom: 21rem;
}
#home2021{
	left: 11rem;
    bottom: 16rem;
}
#homeAR{
	left: 1.6rem;
	bottom: 2.3rem;
}
#homeJiax{
	left: 9.2rem;
	bottom: 2.3rem;
}
#homePlus{
	left: 15.8rem;
	bottom: 2.8rem;
}
