*{
	margin: 0px;
	padding: 0px;
}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
#index {
    background: url(../mudule/image/home.jpg);
    background-size: 100% 100%;
    position: fixed;
    top:0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.btnYear {
    background: #000;
    opacity: 0;
    width: 3.7rem;
    height: 3.5rem;
	position: absolute;
}
.btnShow{
	width: 6.5rem;
    height: 2.4rem;
    position: absolute;
    background: #000;
    opacity: 0;
}
.btnPlus{
	width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    background: #000;
    opacity: 0;
}
#home1919{
	left: .6rem;
	top: 14.7rem;
}

#home1921{
	left: 5.6rem;
	top: 23.4rem;
}

#home2017{
	left: 10.3rem;
	top: 16.9rem;
}
#home2021{
	right: 0;
	top: 20.7rem;
}
#homeAR{
	left: 1.6rem;
	bottom: 2.5rem;
}
#homeJiax{
	left: 9.2rem;
	bottom: 2.5rem;
}
#homePlus{
	left: 15.8rem;
	bottom: 3rem;
}
