<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>“智境”嘉兴南湖 重走一大路</title>
    <link rel="stylesheet" type="text/css" href="homeRedBoat.css">
</head>
<body>
    <script type="text/javascript" src="../../mudule/js/flexible.js"></script>
    <div class="index">
        <img src="../../mudule/image/newImg/shouchuang/shouchuang1.png" class="redBoat">
    </div>
    <a href="../redBoatNext/shouChuangNext1.html" id="pageNext"></a>
</body>
</html>